<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/meta-data :: meta-data}">
</head>
<body>
  <div th:replace="~{fragments/navbar :: navbar}"></div>
  <div th:replace="~{fragments/sidebar :: sidebar}"></div>

  <div class="content-box mt-5">
    <h2>Place your Order!</h2>
    <p>Choose a Customer to order for:</p>
    <p>Choose your toppings:</p>
    <p>Look at the estimated cost:</p>
    <p>Order this pizza and view it under: "View Placed Orders"</p>
  </div>

</body>
</html>