<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/meta-data :: meta-data}">
</head>
<body>
  <div th:replace="~{fragments/navbar :: navbar}"></div>
  <div th:replace="~{fragments/sidebar :: sidebar}"></div>

  <div class="content-box mt-5">
    <h1>Welcome to Nick's Pizza!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a libero vel libero lacinia consequat. Vestibulum egestas urna vel est scelerisque, vitae commodo enim luctus.</p>
  </div>
</body>
</html>