<!--fragments/navbar.html--> 
<div th:fragment="navbar">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
	<div class="container">
	  <a class="navbar-brand" th:href="@{/home}">Nick Simone.net</a>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav ms-auto">
		  <li class="nav-item"><a class="nav-link" th:href="@{/home}">Home</a></li>
		  <li class="nav-item"><a class="nav-link" th:href="@{/about}">About</a></li>
			<li class="nav-item"><a class="nav-link" th:href="@{/overview}">Overview</a></li>
		  <li class="nav-item"><a class="nav-link" th:href="@{/pizza}">Demo</a></li>
		  <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/nicholas-simone-45491b18a/" target="_blank"  rel="noopener noreferrer">LinkedIn <i class="bi bi-box-arrow-up-right" aria-hidden="true"></i></a></li>
		</ul>
	  </div>
	</div>
  </nav>
</div>