<!--fragments/sidebar.html -->
<div th:fragment="sidebar">
  <div class="sidebar">
    <ul class="nav flex-column">
      <li class="nav-item"><a class="nav-link text-white" th:href="@{/pizza}">Home</a></li>
      <li class="nav-item"><a class="nav-link text-white" th:href="@{/pizza/web-tour}">Site Tour</a></li>
      <li class="nav-item"><a class="nav-link text-white" th:href="@{/pizza/order}">Order Pizza</a></li>
      <li class="nav-item"><a class="nav-link text-white" th:href="@{/pizza/view-orders}">View Placed Orders</a></li>
      <li sec:authorize="!isAuthenticated()">
          <a href="/pizza/employee-login">Employee Login</a>
      </li>
      <li sec:authorize="isAuthenticated()">
          <form th:action="@{/logout}" method="post">
              <button type="submit" class="logout-button">Logout</button>
          </form>
      </li>
      <!--
      <li class="nav-item"><a class="nav-link text-white" th:href="@{/pizza/view-orders}">Changelog</a></li>
      <li class="nav-item"><a class="nav-link text-white" th:href="@{/pizza/view-orders}">Data Analysis</a></li>
      -->
    </ul>
  </div>
</div>